{% extends 'base_generic.html' %}

{% block title %}<title>Log's list</title>{% endblock %}

{% block content %}
    <div class="main-content">
        <form action="{% url 'apachelog-list' %}" method="GET">
            <div class="form-group form-inline">
                <input style="width: 400px;" class="form-control" type="search" placeholder="Search" aria-label="Search" name="q">
                <button class="btn" type="submit">Find</button>
            </div>
        </form>
        <form style="float: left;" action="{% url 'apachelog-list' %}" method="GET">
            <div class="form-group form-inline">
                <input type="hidden" name="q" value="{{ q }}">
                <button class="btn btn-primary" value="1" name="download" type="submit">Download XLSX</button>
            </div>
        </form>
        <div class="main-data">
            <table class="table table-hover table-bordered">
                <thead class="thead-inverse">
                    <tr>
                        <th>№</th><th>IP</th><th>Date</th><th>Method</th><th>Referer</th><th>Status</th><th>Size</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in apachelog_list %}
                        <tr>
                            <td>{{ log.pk }}</td><td>{{ log.ip }}</td><td>{{ log.date }}{% if log.tz >= 0 %} +{{ log.tz }}{% else %}-{{ log.tz }}{% endif %}</td><td>{% if log.method|length > 10 %}{{ log.method|slice:":10" }} . . .{% else %}{{ log.method }}{% endif %}</td><td>{{ log.referer }}</td><td>{{ log.status }}</td><td>{{ log.resp_size }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div style="width: 800px;" class="params">
            <table class="table table-sm table-bordered">
                <thead class="thead-inverse">
                    <tr>
                        <th style="width: 600px;">Параметр</th><th style="width: 200px;">Значение</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Число уникальных IP</td><td>{{ ip_set_count }}</td>
                    </tr>
                    <tr>
                        <td>Суммарный объем ответов</td><td>{{ resp_sum }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="width: 800px;" class="methods-list">
            <table class="table table-sm table-bordered">
                <thead class="thead-inverse">
                    <tr>
                        <th style="width: 600px;">method</th><th style="width: 200px;">count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in methods %}
                        <tr>
                            <td>{% if key|length > 10 %}{{ key|slice:":10" }} . . .{% else %}{{ key }}{% endif %}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div  class="ip-top">
            <table style="width: 800px;" class="table table-sm table-bordered">
                <thead class="thead-inverse">
                    <tr>
                        <th style="width: 600px;">IP</th><th style="width: 200px;">count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in top %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
        {% if is_paginated %}
            <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" aria-label="Previous" href="?q={{ q }}&page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?q={{ q }}&?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" aria-label="Next" href="?q={{ q }}&?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}